@page "/addparser"
@page "/editparser/{ParserId}"
@using MainService.Components.Base
@using MainService.Interfaces
@using MainService.Models
@using ModelsHelper.Models

@inject IParserService _parserService;

<div>
    <div class="add-parser-layout">
        <div>
            <h2>Setting</h2>
            <Text Label="Description" @bind-field="_parserSettings.Description" />
            <Option Label="Source" Options="Source.GetAll()" OnChanged="o => _parserSettings.Source = o" />
            <Text Label="Group" @bind-field="@_parserSettings.Group" />
            <Number Label="Timeout (seconds)" @bind-field="_parserSettings.Timeout" />
            <Number Label="Hold (seconds)" @bind-field="_parserSettings.Hold" />
            <Number Label="Counts" @bind-field="_parserSettings.Counts" />
            <Number Label="How may retry after error" @bind-field="_parserSettings.RetryAfterErrorCount" />
            <Text Label="Tags" FieldChanged="o => _parserSettings.Tags = o.Split('|').ToList()" Field="@string.Join('|', _parserSettings.Tags)" />
            <DateTime Label="From date" @bind-field="_parserSettings.FromDate" />
            <DateTime Label="Until date" @bind-field="_parserSettings.UntilDate" />
            <Text Label="From post Id" @bind-field="_parserSettings.FromPostId" />
            <Text Label="Until post Id" @bind-field="_parserSettings.UntilPostId" />
            <Checkbox Label="By last post Id" @bind-field="_parserSettings.ByLastPostId" />
            <Checkbox Label="Continue monitoring" @bind-field="_parserSettings.ContinueMonitoring" />
            <Checkbox Label="Disabled" @bind-field="_parserSettings.Disabled" />
        </div>
        <div>
            <h2>Filters</h2>
            <Checkbox Label="Ignore video" @bind-field="_parserSettings.Filter.IgnoreVideo" />
            <Checkbox Label="Ignore repost" @bind-field="_parserSettings.Filter.IgnoreRepost" />
            <Text Label="Ignore words" FieldChanged="@(o => _parserSettings.Filter.IgnoreWords = o.Split('|').ToList())" Field="@string.Join('|', _parserSettings.Filter.IgnoreWords)" />
            <Text Label="Ignore authors" FieldChanged="@(o => _parserSettings.Filter.IgnoreAuthors = o.Split('|').ToList())" Field="@string.Join('|', _parserSettings.Filter.IgnoreAuthors)" />
            <Text Label="Ignore titles" FieldChanged="@(o => _parserSettings.Filter.IgnoreTitles = o.Split('|').ToList())" Field="@string.Join('|', _parserSettings.Filter.IgnoreTitles)" />
            <Text Label="Ignore descriptions" FieldChanged="@(o => _parserSettings.Filter.IgnoreDescriptions = o.Split('|').ToList())" Field="@string.Join('|', _parserSettings.Filter.IgnoreDescriptions)" />
        </div>
    </div>
    <div class="center">
        <Button Action="OnSave">Save</Button>
        @if (_saveError)
        {
            <div @onclick="() =>_saveError = false">Can't save setting</div>
        }
    </div>

</div>

@code {

    [Parameter]
    public string ParserId { get; set; }

    private ParserSettings _parserSettings = new ();

    private bool _saveError;

    protected override async Task OnParametersSetAsync()
    {
        if (ParserId != null)
        {
            _parserSettings = await _parserService.GetParserSettings(ParserId);
        }
    }

    public async Task OnSave()
    {
        _saveError =! await _parserService.SaveParserSettings(_parserSettings);
    }
}
