@page "/addparser"
@using MainService.Components.Base
@using global::Models.Models
@using MainService.Interfaces
@using MainService.Models

@inject IParserService _parserService;

<div>
    <div class="add-parser-layout">
        <div>
            <h2>Setting</h2>
            <Text Label="Description" OnChanged="o => _parserSettings.Description = o" />
            <Option Label="Source" Options="Source.GetAll()" OnChanged="o => _parserSettings.Source = o" />
            <Text Label="Group" OnChanged="o => _parserSettings.Group = o" />
            <Number Label="Timeout (ms)" OnChanged="o => _parserSettings.Timeout = o" />
            <Number Label="Hold (ms)" OnChanged="o => _parserSettings.Hold = o" />
            <Number Label="Counts" OnChanged="o => _parserSettings.Counts = o" />
            <Number Label="How may retry after error" OnChanged="o => _parserSettings.RetryAfterErrorCount = o" />
            <Text Label="Tags" OnChanged="@(o => _parserSettings.Tags = o.Split('|').ToList())" />
            <DateTime Label="From date" OnChanged="o => _parserSettings.FromDate = o" />
            <DateTime Label="Until date" OnChanged="o => _parserSettings.UntilDate = o" />
            <Text Label="From post Id" OnChanged="o => _parserSettings.FromPostId = o" />
            <Text Label="Until post Id" OnChanged="o => _parserSettings.UntilPostId = o" />
            <Checkbox Label="By last post Id" OnChanged="o => _parserSettings.ByLastPostId = o" />
            <Checkbox Label="Continue monitoring" OnChanged="o => _parserSettings.ContinueMonitoring = o" />
            <Checkbox Label="Disabled" OnChanged="o => _parserSettings.Disabled = o" />
        </div>
        <div>
            <h2>Filters</h2>
            <Checkbox Label="Ignore video" OnChanged="o => _parserSettings.Filter.IgnoreVideo = o" />
            <Checkbox Label="Ignore repost" OnChanged="o => _parserSettings.Filter.IgnoreRepost = o" />
            <Text Label="Ignore words" OnChanged="@(o => _parserSettings.Filter.IgnoreWords = o.Split('|').ToList())" />
            <Text Label="Ignore authors" OnChanged="@(o => _parserSettings.Filter.IgnoreAuthors = o.Split('|').ToList())" />
            <Text Label="Ignore titles" OnChanged="@(o => _parserSettings.Filter.IgnoreTitles = o.Split('|').ToList())" />
            <Text Label="Ignore descriptions" OnChanged="@(o => _parserSettings.Filter.IgnoreDescriptions = o.Split('|').ToList())" />
        </div>
    </div>
    <div class="center">
        <Button Action="OnSave">Save</Button>
    </div>
</div>

@code {

    private readonly ParserSettings _parserSettings = new ();

    public async Task OnSave()
    {
        await _parserService.SaveParserSettings(_parserSettings);
    }
    
}
