@using MainService.Models

<div>@Status.Name</div>
<table>
    <tr>
        <td>Worker name</td>
        <td>Group name</td>
        <td>Settings Id</td>
        <td>Task Id</td>
        <td>stop action</td>
    </tr>
    @foreach (var row in Status.Works)
    {
        <tr>
            <td>@row.WorkerName</td>
            <td>@row.Group</td>
            <td>@row.SettingsId</td>
            <td>@row.TaskId</td>
            <td><Button Action="async () => await OnStop.InvokeAsync(row.TaskId)">Stop</Button></td>
        </tr>
    }
</table>

@code {


    [Parameter]
    public StatusModel Status { get; set; }

    [Parameter]
    public EventCallback<int> OnStop { get; set; }

    [Parameter]
    public EventCallback OnStart { get; set; }
}
