@using MainService.Models

<div>@Status.Name</div>
<table class="table">
    <tr class="t-head">
        <th>Worker name</th>
        <th>Group name</th>
        <th>Settings Id</th>
        <th>Task Id</th>
        <th>stop action</th>
    </tr>
    @foreach (var row in Status.Works)
    {
        <tr class="t-row">
            <td>@row.WorkerName</td>
            <td>@row.Group</td>
            <td>@row.SettingsId</td>
            <td>@row.TaskId</td>
            <td><Button Action="async () => await OnStop.InvokeAsync(row.TaskId)">Stop</Button></td>
        </tr>
    }
</table>

@code {


    [Parameter]
    public StatusModel Status { get; set; }

    [Parameter]
    public EventCallback<int> OnStop { get; set; }

    [Parameter]
    public EventCallback OnStart { get; set; }
}
