<div class="@(Css ?? "input-component")">
    <label for="@_id">@Label</label>
    <input class="input" id="@_id" type="@Type" @onchange="OnChangedValue" value="@InputValue" />
</div>

@code {
    [Parameter]
    public string InputValue { get; set; }

    [Parameter]
    public string Label { get; set; }

    protected virtual string Type { get; set; } = "text";

    [Parameter]
    public EventCallback<string> OnChanged { get; set; }

    private readonly string _id;

    protected virtual string Css { get; set; }



    private void OnChangedValue(ChangeEventArgs val)
    {
        if (!string.IsNullOrEmpty(val.Value?.ToString()))
        {
            var result = (string)Convert.ChangeType(val.Value, typeof(string));
            OnChanged.InvokeAsync(result);
        }
    }
}